
@section scripts{
    <script src="~/js/AccountsController.js"></script>
}

<div class="row" ng-controller="AuthenticationController as auc">
    <div class="col-sm-4">

        <video loop muted autoplay class="bg_video">
            <source src="~/images/611101637.mp4" type="video/mp4">
        </video>
        <form ng-submit="auc.Login(user)">
            <div class="panel">
                <div class="panel-body" ng-init="user = {}">
                    <div class="form-group">
                        <input type="text" name="Email" placeholder="Email" class="form-control" ng-model="user.email" />
                    </div>
                    <div class="form-group">
                        <input type="password" name="Password" placeholder="Password" class="form-control" ng-model="user.password" />
                    </div>

                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-success btn-block">Login</button>
                </div>
            </div>
        </form>

    </div>
</div>