@section scripts{
    <script src="~/js/AccountsController.js"></script>
}

<video loop muted autoplay class="bg_video">
    <source src="~/images/640705600.mp4" type="video/mp4">
</video>
<div class="row" ng-controller="AuthenticationController as auc">
    <div class="col-sm-offset-8">
        <form ng-submit="auc.Register(user)">

            <div class="panel">
                <div class="panel-body" ng-init="user = {}">

                    <div class="form-group">
                        <input type="text" name="Email" placeholder="Email" class="form-control" ng-model="user.email" />
                    </div>
                    <div class="form-group">
                        <input type="password" name="Password" placeholder="Password" class="form-control" ng-model="user.password" />
                    </div>

                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>

