@section scripts{
    <script src="js/controllers/actscontroller.js" type="text/javascript"></script>
}

<div class="row" ng-cloak ng-controller="ActsController as aTc">
    <script src="~/js/controllers/ActsController.js"></script>
    <div class="col-sm-4 col-sm-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> Act </h3>
            </div>
            <ol class="list-group">

                <li class="list-group-item clearfix" ng-repeat="act in aTc.Act">
                    <div class="col-sm-8">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="act.IsDone" ng-true-value="true" ng-false-value="false" />
                                {{act.name}}
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-danger" ng-click="aTc.Remove(act)"> Remove</button>
                        <a href="~/acts/{{act.id}}/performers" button type="button" class="btn btn-success">Continue</a>
                    </div>
                </li>

                <li class="list-group-item clearfix" ng-init="act = {}">
                    <div class="col-sm-8">
                        <label> New Act</label>
                        <div class="form-group clearfix">
                            <input type="text" class="form-control" placeholder="Name" ng-model="act.name" />
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-primary" ng-click="aTc.Add(@Model.Id, act)" ng-keydown="$event.which === 13 && aTc.Add(@Model.Id, act)">Add</button>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>
