@section scripts{
    <script src="~/js/controllers/exhibitscontroller.js" type="text/javascript"></script>
}

<div class="row" ng-cloak ng-controller="ExhibitsController as ec">
    <script src="~/js/controllers/ExhibitsController.js"></script>
    <div class="col-sm-4 col-sm-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> Exhibit </h3>
            </div>
            <ol class="list-group">

                <li class="list-group-item clearfix" ng-repeat="exhibit in ec.Exhibit">
                    <div class="col-sm-8">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="exhibit.IsDone" ng-true-value="true" ng-false-value="false" />
                                {{exhibit.name}}
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-danger" ng-click="ec.Remove(exhibit)"> Remove</button>
                        <a href="~/exhibits/{{exhibit.id}}/animals" button type="button" class="btn btn-success">Continue</a>
                    </div>
                </li>

                <li class="list-group-item clearfix" ng-init="exhibit = {}">
                    <div class="col-sm-8">
                        <label> New Exhibit</label>
                        <div class="form-group clearfix">
                            <input type="text" class="form-control" placeholder="Name" ng-model="exhibit.name" />
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-primary" ng-click="ec.Add(@Model.Id, exhibit)" ng-keydown="$event.which === 13 && ec.Add(@Model.Id, exhibit)">Add</button>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>
