
@section scripts {
    <script src="~/js/controllers/AuthenticationController.js"></script>
}

<div class="row" ng-controller="AuthenticationController as ac">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Login
            </div>
            <div class="panel-body" ng-init="user = {}">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email" ng-model="user.email" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" ng-model="user.password" />
                </div>
                <button type="button" class="btn btn-default" ng-click="ac.Logins(user)">Login</button>
            </div>
        </div>
    </div>
</div>
