@{
    ViewData["Title"] = "Home Page";
}
<body class="index-bg">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="container-fluid">
                <font color="black">
                    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
                    <h1 class="text-center" style="color: white"> Conserve the Wild </h1>
                </font>
            </div>
        </div>
    </div>
</body>
