@section scripts {
    <script src="~/js/controllers/CircusesController.js"></script>
};

<div class="row" ng-cloak ng-controller="CircusesController as crc">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="well" style="background-color:beige">
            <script src="~/js/controllers/CircusesController.js"> </script>
            <div class="panel panel-default">
                <div class="panel-heading">

                    <h3 class="panel-title"> Circus</h3>
                    <label> New Circus</label>
                </div>
                <ol class="list-group">

                    <li class="list-group-item clearfix" ng-repeat="circus in crc.Circus">
                        <div class="col-sm-8">
                            <div class="checkbox">

                                <label>
                                    <input type="checkbox" ng-model="circus.isDone" ng-true-value="true" ng-false-value="false" />
                                    {{circus.name}}
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-danger" ng-click="crc.Remove(circus)"> Remove</button>
                            <a href="~/circuses/{{circus.id}}/acts" button type="button" class="btn btn-success">Continue</a>
                        </div>
                    </li>

                    <li class="list-group-item clearfix" ng-init="circus = {}">
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Name" ng-model="circus.name" />
                        </div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-primary" ng-click="crc.Add(circus)" ng-keydown="$event.which === 13 && crc.Add(circus)">Add</button>

</div>
                    </li>
                </ol>
            </div>
        </div>
</div>
    </div>

