@section scripts{
    <script src="~/js/controllers/groupscontroller.js" type="text/javascript"></script>
}

<div class="row" ng-cloak ng-controller="GroupsController as gc">
    <script src="~/js/controllers/groupsController.js"></script>
    <div class="col-sm-4 col-sm-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> Group </h3>
            </div>
            <ol class="list-group">

                <li class="list-group-item clearfix" ng-repeat="group in gc.Group">
                    <div class="col-sm-8">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="group.IsDone" ng-true-value="true" ng-false-value="false" />
                                {{group.name}}
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-danger" ng-click="gc.Remove(group)"> Remove</button>
                        <a href="~/groups/{{group.id}}/animals" button type="button" class="btn btn-success">Continue</a>
                    </div>
                </li>

                <li class="list-group-item clearfix" ng-init="group = {}">
                    <div class="col-sm-8">
                        <label> New Exhibit</label>
                        <div class="form-group clearfix">
                            <input type="text" class="form-control" placeholder="Name" ng-model="group.name" />
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-primary" ng-click="gc.Add(@Model.Id, group)" ng-keydown="$event.which === 13 && gc.Add(@Model.Id, group)">Add</button>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>
