@{
    ViewData["Title"] = "Home Page";
}
<div class="row" ng-cloak ng-controller="CircusController as crc">
    <div class="col-sm-6 col-sm-3">
        <script src="~/js/controllers/CircusController.js"> </script>
        <div class="panel panel-default">
            <div class="panel-heading">

                <h3 class="panel-title"> Circus</h3>
            </div>
            <ol class="list-group">

                <li class="list-group-item clearfix" ng-repeat="circus in crc.Circus">
                    <div class="col-sm-8">
                        <div class="checkbox">

                            <label>
                                <input type="checkbox" ng-model="circus.isDone" ng-true-value="true" ng-false-value="false" />
                                {{circus.name}}
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-danger" ng-click="crc.Remove(circus)"> Remove</button>
                    </div>
                </li>

                <li class="list-group-item clearfix" ng-init="circus = {}">
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Name" ng-model="circus.name" />
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-primary" ng-click="crc.Add(circus)" ng-keydown="$event.which === 13 && crc.Add(circus)">Add</button>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="row" ng-cloak ng-controller="PerformerController as prc">

    <div class="col-sm-6 col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> Performer  |   Gender</h3>
            </div>
            <ol class="list-group">

                <li class="list-group-item clearfix" ng-repeat="performer in prc.Performer">
                    <div class="col-sm-8">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="performer.IsDone" ng-true-value="true" ng-false-value="false" />
                                {{performer.name}} | {{performer.gender}}
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-danger" ng-click="prc.Remove(performer)"> Remove</button>
                    </div>
                </li>
                <li class="list-group-item clearfix" ng-init="performer = {}">
                    <div class="col-sm-8">
                        <label> New Performer</label>
                        <div class="form-group clearfix">
                            <input type="text" class="form-control" placeholder="Name" ng-model="performer.name" />
                            <input type="text" class="form-control clearfix" placeholder="Sex" ng-model="performer.gender" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-primary" ng-click="prc.Add(performer)" ng-keydown="$event.which === 13 && prc.Add(performer)">Add</button>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="row" ng-cloak ng-controller="ActController as aTc">
    <script src="~/js/controllers/ActController.js"></script>
    <div class="col-sm-6 col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">

                <h3 class="panel-title"> Act </h3>
            </div>
            <ol class="list-group">

                <li class="list-group-item clearfix" ng-repeat="act in aTc.Act">
                    <div class="col-sm-8">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="act.IsDone" ng-true-value="true" ng-false-value="false" />
                                {{act.name}}
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-danger" ng-click="aTc.Remove(act)"> Remove</button>
                    </div>
                </li>
                <li class="list-group-item clearfix" ng-init="act = {}">
                    <div class="col-sm-8">
                        <label> New Act</label>
                        <div class="form-group clearfix">
                            <input type="text" class="form-control" placeholder="Name" ng-model="act.name" />
                            <input type="text" class="form-control" placeholder="Performer" ng-model="act.performer" />
                            <input type="text" class="form-control clearfix" placeholder="Animal" ng-model="act.animal" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-primary" ng-click="aTc.Add(act)" ng-keydown="$event.which === 13 && aTc.Add(act)">Add</button>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="row" ng-cloak ng-controller="AnimalController as aNc">
    <script src="~/js/controllers/AnimalController.js"></script>
    <div class="col-sm-6 col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">

                <h3 class="panel-title"> Animal </h3>
            </div>
            <ol class="list-group">

                <li class="list-group-item clearfix" ng-repeat="animal in aNc.Animal">
                    <div class="col-sm-8">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="animal.IsDone" ng-true-value="true" ng-false-value="false" />
                                {{animal.name}}
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-danger" ng-click="aNc.Remove(animal)"> Remove</button>
                    </div>
                </li>

                <li class="list-group-item clearfix" ng-init="animal = {}">
                    <div class="col-sm-8">
                        <label> New Animal</label>
                        <div class="form-group clearfix">
                            <input type="text" class="form-control" placeholder="Name" ng-model="animal.name" />
                            <input type="text" class="form-control" placeholder="Performer" ng-model="animal.performer" />
                            <input type="text" class="form-control clearfix" placeholder="Animal" ng-model="animal.animal" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-primary" ng-click="aNc.Add(animal)" ng-keydown="$event.which === 13 && aNc.Add(animal)">Add</button>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>


@*<div class="row" ng-cloak ng-controller="AuthenticationController as aRc">
        <div class="col-sm-6 col-sm-3">
            <script src="~/js/controllers/AuthenticationController.js"> </script>
            <div class="panel panel-default">
                <div class="panel-heading">

                    <h3 class="panel-title"> Users</h3>
                </div>
                <ol class="list-group">

                    <li class="list-group-item clearfix" ng-repeat="users in aRc.User">
                        <div class="col-sm-8">
                            <div class="checkbox">

                                <label>
                                    <input type="checkbox" ng-model="users.isDone" ng-true-value="true" ng-false-value="false" />
                                    {{users.name}}
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-danger" ng-click="aRc.Remove(users)"> Remove</button>
                        </div>
                    </li>

                    <li class="list-group-item clearfix" ng-init="users = {}">
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Name" ng-model="users.name" />
                            <input type="text" class="form-control" placeholder="Email" ng-model="users.email" />
                            <input type="text" class="form-control" placeholder="Password" ng-model="users.password" />
                        </div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-primary" ng-click="aRc.Add(users)" ng-keydown="$event.which === 13 && aRc.Add(users)">Add</button>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>*@



