@model AngularCircus.web.Models.LoginRequest


<div class="row">
    <div class="col-sm-6 col-offset-sm-3">
        <form method="post" action="~/authentication/login">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <input type="text" name="Email" placeholder="Email" class="form-control" value="@Model.Email" />
                    </div>
                    <div class="form-group">
                        <input type="password" name="Password" placeholder="Password" class="form-control" />
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="submit" class=btn btn-primary btn-block">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>


@*<body>
        <script>
      window.fbAsyncInit = function() {
          FB.init(



              {
            appId: '1453076894716216',
          xfbml      : true,
          version    : 'v2.8'
        });
        FB.AppEvents.logPageView();
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      FB.getLoginStatus(function (response) {
          if (response.status === 'connected') {
              console.log('Logged in.');
          }
          else {
              FB.login();
          }
      });
        </script>
        <script>
    // Only works after `FB.init` is called
    function myFacebookLogin() {
      FB.login(function(){}, {scope: 'publish_actions'});
    }
        </script>
        <button onclick="myFacebookLogin()">Login with Facebook</button>
    </body>*@




